{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/styles.css' %}">
    <script src="test.js" defer></script>
    <title>Document :D</title>
</head>
<body>
    <div class="test-bar">
    </div>
            <h2 class="wrapper">
        <a href="https://www.linkedin.com/in/jamari-morrison-59247b194/"target="_blank"><img class="linkedin" src="linkedin.png" alt="aww"></a>
        <a href="https://github.com/RedCater"target="_blank"><img class="github" src="github.png"></a>

            <a><span class="resume">RESUME</span></a>
            <a><span class="contactMe">CONTACT ME</span></a>
        </h2>

    <div class="animation-area">
        <ul id="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="title"><h1>Hi, I'm Jamari.</h1></div>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>

</div>

<div class="projects">
    <div class="projects-title"><h1>My Projects</h1></div>
    <div class="project1">
        <div class="proj1title"><h2>Data Management Application</h2></div>
        <div class="proj1text">
            Used the Flask python framework and MySQL to create a data management for a high school robotics team (competing in FIRST Tech Challenge).
            The application supported adding, editing, and viewing multiple entry structures.
        </div>
        <div class="proj1code">
        <img class="projGitHub" src="black-github.png" alt="placeholder">
        <p>view code</p>
        </div>
        <div class="proj1images">
        <img class="proj1flask" src="flask-logo.png" alt="flask-image">
        <img class="proj1mysql" src="mysql-logo.png" alt="mysql-image">
        <img class="proj1python" src="python-logo.png" alt="python-image">
    </div>
    </div>
</div>
<div class="contact-me">
    <div class="contact-header"><h1>CONTACT ME</h1></div>
    <div class="contact-images">
        <div class="email-div">
            <img class="email-icon" src="email-icon.png" alt="email">
            <div class="email"><h2>morrisjj@rose-hulman.edu</h2></div>
        </div>
        <img class="contact-linkedin" src="linkedin.png">
        <div class="phone-div">
            <img class="phone-icon" src="phone-icon.png" alt="phone">
            <div class="phone"><h2>618-741-6714</h2></div>
        </div>

    </div>



    <div class="contact-form">
        <h1>Let's talk</h1>
            <div class="txtb">
                <label>Name/Company</label>
                <input type="text" name="" value="" placeholder="Enter name/Company">
            </div>

            <div class="txtb">
                <label>Email</label>
                <input type="text" name="" value="" placeholder="Enter an Email">
            </div>

            <div class="txtb">
                <label>Message:</label>
                <textarea></textarea>
            </div>

            <a class="btn">Submit</a>

</div>


</div>
</body>