{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <script src="{% static 'portfolio/animations.js' %}" defer></script>
    <title>Jamari!</title>
</head>
<body>
    <div class="menu-btn">
        <div class="menu-btn__burger"></div>
    </div>
    <div class="nav-bar">
        <a href="https://www.linkedin.com/in/jamari-morrison-59247b194/"><div class="nav nav-linkedin"><h2>LINKEDIN</h2></div></a>
        <a href="https://github.com/RedCater"><div class="nav nav-github"><h2>GITHUB</h2></div></a>
        <a href="/resume" target="_blank"><div class="nav nav-resume"><h2>RESUME</h2></div></a>
        <a><div class="nav nav-contact-me"><h2>CONTACT ME</h2></div></a>
        <div class="nav-line line-one"></div>
        <div class="nav-line line-two"></div>
        <div class="nav-line line-three"></div>
    </div>
    <div class="test-bar">
    </div>
            <h2 class="wrapper">
        <a href="https://www.linkedin.com/in/jamari-morrison-59247b194/"target="_blank"><img class="linkedin" src="{% static 'portfolio/linkedin.png' %}" alt="aww"></a>
        <a href="https://github.com/RedCater"target="_blank"><img class="github" src="{% static 'portfolio/github.png' %}"></a>

            <a href="/resume"><span class="resume">RESUME</span></a>
            <a><span class="contactMe">CONTACT ME</span></a>
        </h2>

    <div class="animation-area">
        <div class="title">Hi, I'm Jamari.</div>
        <ul id="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>

</div>
<div class="projects-title">What I've Done</div>
<div class="projects">

    <div class="project project1">
        <div class="project-title"><h2>Lego Database Web App</h2></div>
        <div class="project-text">
            Worked with two partners to designed a t-sql database to store over 500k rows of data.
            Built a react web app that connects to a Node/Express backend that connects to the database.
            Hosted the web app on heroku and the t-sql databse on an AWS RDS instance.
        </div>

        <a href="https://github.com/RealJasomo/LegoInventoryTrackerProject">
            <div class="project-code">
                <img class="proj1github" src="{% static 'portfolio/black-github.png' %}" alt="placeholder">
                <p>view code</p>
                <a href="https://lego-inventory-tracker.herokuapp.com/"><p class="proj1demo">view demo</p></a>
            </div>
        </a>



        <div class="project1images">
        <img class="proj1react" src="{% static 'portfolio/react-logo.png' %}" alt="react">
        <img class="proj1mssql" src="{% static 'portfolio/mssql-logo.png' %}" alt="mssql">
        <img class="proj1python" src="{% static 'portfolio/python-logo.png' %}" alt="python">
    </div>
    </div>

    <div class="project project2">
        <div class="project-title"><h2>This Website!</h2></div>
        <div class="project-text">
            Used HTML, CSS, and JavaScript to create this website's front-end from scratch,
            along with Python's Django framework for the website's back-end, and Heroku for hosting.
        </div>
        <a href="https://github.com/jamari-morrison/jamari-website">
        <div class="project-code">
        <img class="proj1github" src="{% static 'portfolio/black-github.png' %}" alt="placeholder">
        <p>view code</p>
        </div>
    </a>
        <div class="project2images">
            <img class="proj2django" src="{% static 'portfolio/django-logo.png' %}" alt="flask-image">
            <img class="proj2js" src="{% static 'portfolio/js-logo.png' %}" alt="mysql-image">
            <img class="proj2python" src="{% static 'portfolio/python-logo.png' %}" alt="python-image">
        </div>
    </div>

    <div class="project project3">
        <div class="project-title"><h2>Threes! Ai</h2></div>
        <div class="project-text">
            Created a Threes! clone game with react.js.
            Currently working on an Ai that uses the expectimax algorithm to play the game

        </div>
        <a href="https://github.com/jamari-morrison/threes-ai">`
        <div class="project-code">
        <img class="proj1github" src="{% static 'portfolio/black-github.png' %}" alt="placeholder">
        <p>view code</p>
        </div>
    </a>
        <div class="project3images">
            <img class="proj3threes" src="{% static 'portfolio/threes-logo.png' %}" alt="flask-image">
            <img class="proj3tree" src="{% static 'portfolio/tree.png' %}" alt="mysql-image">
            <img class="proj3react" src="{% static 'portfolio/react-logo.png' %}" alt="mysql-image">
        </div>
    </div>

    <div class="project project4">
        <div class="project-title"><h2>Leidos Software Engineering Internship</h2></div>
        <div class="project-text">
            Worked as a software engineering intern for Leidos, a govenment contractor,
            in Summer 2020.  Developed code in java, python, and bash scirpt, created and
            managed technical documentaion, and worked with various software including Itential, CISCO NSO,
            and MongoDB.
        </div>
        <div class="project4images">
            <img class="proj4leidos" src="{% static 'portfolio/leidos-logo.png' %}" alt="flask-image">
        </div>
    </div>

    <div class="project project5">
        <div class="project-title"><h2>Education - Software Engineering Bachelor's</h2></div>
        <div class="project-text">
            Currently enrolled at Rose-Hulman Institute of Technology in Terre Haute,
            Indiana.  Pursuing my Bachelors in Software Engineering with an expected graduation
            date in December, 2022.
        </div>

        <div class="project5images">
            <img class="proj5rose" src="{% static 'portfolio/rose-logo.png' %}" alt="flask-image">
        </div>
    </div>




</div>
<div class="contact-me">
    <div class="contact-header">CONTACT ME</div>
    <div class="contact-images">
        <div class="email-div">
            <img class="email-icon" src="{% static 'portfolio/email-icon.png' %}" alt="email">
            <div class="email">morrisjj@rose-hulman.edu</div>
        </div>
        <a href="https://www.linkedin.com/in/jamari-morrison-59247b194/"><div class="linkedin-div">
            <img class="linkedin-icon" src="{% static 'portfolio/linkedin.png' %}" alt="linkedin">
            <div class="linkedin-text">My Linkedin!</div>

        </div>
        </a>
        <div class="phone-div">
            <img class="phone-icon" src="{% static 'portfolio/phone-icon.png' %}" alt="phone">
            <div class="phone">618-741-6714</div>
        </div>

    </div>



    <div class="contact-form">
        <div class="scroll-target"></div>
        <h1>Let's talk</h1>
            <div class="txtb">
                <label>Name/Company</label>
                <input type="text" name="" value="" placeholder="Enter name/Company">
            </div>

            <div class="txtb">
                <label>Email</label>
                <input type="text" name="" value="" placeholder="Enter an Email">
            </div>

            <div class="txtb">
                <label>Message:</label>
                <textarea></textarea>
            </div>

            <a class="btn">Submit</a>

</div>


</div>
<script src="{% static 'portfolio/hamburger.js' %}"></script>

</body>